@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/*body {
  overflow: hidden;
}*/

.preparing-audio {
  position: fixed;
  z-index: 3;
  /*pointer-events: none;*/
}

.preparing-audio img {
  position: fixed;
  left: calc(50% - 35px);
  top: calc(50% - 15px);
  width: 70px;

  transition: all 2s cubic-bezier(.2,.56,.06,.96);
  opacity: 0;
  transform: translateY(-30px);
}

.preparing-audio span {
  display: inline;
  position: fixed;
  top: calc(50% - 15px);
  left: 0;
  right: 0;
  width: auto;
  color: white;
  text-align: center;
  transform: translateY(70px);
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  color: #ccc;
  letter-spacing: 0.5pt;

  transition: all 2s cubic-bezier(.2,.56,.06,.96);
  opacity: 0;
  transform: translateY(90px);
}

.preparing-audio.active img {
  opacity: 1;
  transform: translateY(0);
}

/* active-text */

.preparing-audio.active-text img {
  opacity: 1;
  transform: translateY(-20px);
}

.preparing-audio.active-text span {
  opacity: 1;
  transform: translateY(70px);
}

/* inactive */

.preparing-audio.inactive img {
  transition: transform 0.8s ease-in-out 0.1s, opacity 0.8s ease-out;
  opacity: 0;
  transform: translateY(-60px);
}

.preparing-audio.inactive span {
  transition: transform 0.8s ease-in-out 0.4s, opacity 0.8s ease-out 0.3s;
  opacity: 0;
  transform: translateY(30px);
}




.sound-turner {
  position: fixed;
  z-index: 3;
  left: 40px;
  bottom: 40px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  cursor: pointer;
  transform: scaleY(0.5);
}

.sound-turner .turner {
  mix-blend-mode: difference;
  width: 20%;
  background: white;
  display: inline-block;
  vertical-align: bottom;
  float: left;
  position: relative;
  bottom: 0;
  transform: scaleY(0);
}


.description * {
  mix-blend-mode: difference;
}

.render-quality {
  position: fixed;
  z-index: 3;
  left: 80px;
  bottom: 40px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  cursor: pointer;
  color: white;
  font-family: 'Raleway', sans-serif;
  opacity: 0;
  transition: opacity 2s cubic-bezier(.2,.56,.06,.96) 0.2s;
  pointer-events: none;
}

.render-quality.active {
  pointer-events: all;
  opacity: 1;
}

.render-quality span:after {
  content: "MQ";
}

.render-quality span.hq:after {
  content: "HQ";
}

.loading {
  color: #ccc;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  z-index: 3;
  bottom: 50px;
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
  opacity: 1;
  transition: opacity 2s cubic-bezier(.2,.56,.06,.96) 0.2s;
}

.loading.active {
  opacity: 0;
}

/*@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .sound-turner {
    transform: scaleX(4) scaleY(2);
    left: 100px;
    bottom: 100px;
  }

  .render-quality {
    transform: scale(4);
    left: 250px;
    bottom: 100px;
  }
}*/
